.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.navLinks a,
.auth a {
  margin: 0 10px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.shopLink {
  display: inline-flex;
  align-items: center;
  gap: 0; 
  margin-left: 14.5px;
}

.shopLink a {
  margin: 0;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.shopLink svg {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-left: 0; 
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  flex: 1;
  margin-left: 20px;
  padding-left: 20px;
}

.authItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.authItem a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23A6F0;
}

.authIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}


@media (min-width: 769px) {
  .navLinks {
    margin-left: 100px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px 25px;
  }

  .logo {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .navLinks {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 15px;
  }

  .auth {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
  }

  .authItem {
    display: flex;
  }
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .logo {
    margin-bottom: 20px;
    align-self: flex-start;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .navLinks a {
    margin: 10px 0;
  }

  .authItem {
    display: none;
  }

  .auth {
    position: absolute;
    top: 15px;
    right: 15px;
    justify-content: flex-start;
    gap: 10px;
    width: auto;
  }

  .auth a {
    color: #252b42;
  }

 
  .shopLink {
    display: inline-flex;
    align-items: center;
    gap: 0;
     margin-left: 16px;
     margin-top: 10px;
     margin-bottom: 10px;
  }

  .shopLink a {
    margin: 0;
    text-decoration: none;
    color: #222;
    font-weight: 500;
  }
}
